.skills p {
    position: absolute;
    left: 45.8%;
    right: 45.59%;
    top: 26.68%;
    bottom: 70.77%;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.skills {
    .work {
        position: absolute;
        left: 42.18%;
        right: 42.04%;
        top: 28%;
        bottom: 68.81%;
        font-family: "Gilroy-Medium";
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #070707;
    }
    .html img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 255.71px;
        top: 30%;
    }
    .htmlText {
        position: absolute;
        left: 19%;
        right: 74.15%;
        top: 32%;
        bottom: 64.14%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .css img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 512.42px;
        top: 30%;
    }
    .cssText {
        position: absolute;
        left: 30%;
        top: 32%;
        bottom: 64.14%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .jsText {
        position: absolute;
        left: 60%;
        top: 32%;
        bottom: 64.14%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .js img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 769.13px;
        top: 30%;
    }
    .gitText {
        position: absolute;
        left: 80%;
        top: 32%;
        bottom: 64.14%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .git img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 1025.84px;
        top: 30%;
    }
    .bootText {
        position: absolute;
        left: 80%;
        top: 35.8%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .boot img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 1025.84px;
        top: 1567.67px;
    }
    .figmaText {
        position: absolute;
        left: 60.5%;
        top: 35.8%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .figma img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 769.13px;
        top: 1567.67px;
    }
    .ilText {
        position: absolute;
        left: 30%;
        top: 35.8%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .illustrator img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 512.42px;
        top: 1567.67px;
    }
    .psText {
        left: 19%;
        right: 74.15%;
        position: absolute;
        top: 35.8%;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
    }
    .ps img {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 255.71px;
        top: 1567.67px;
    }
}